
.btn:hover:hover{
  background: linear-gradient(55deg, grey, gray, grey);
  color: rgba(126, 72, 1, 0.945) !important;
  transition: .2s ease-in-out;
}

i:hover{
color: rgba(126, 71, 1, 0.945);
transition: .2s ease-in-out;
}


